.back-btn {
    color: white;
    background: #E23A2E;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
  }
  .qa_btn{
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
  }