.All_chef{
    border: 2px solid rgb(85, 54, 198);
    margin-top: 30px;
    text-align: center;
    background-color: #A52A2A;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.chef_name{
    border: 2px solid #A52A2A;
    text-align: center;
    background-color: #A52A2A;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.chef_name:hover{
    background-color: #DFA756;
}
