.author-name-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 92, 174, 0.5);
    color: rgb(9, 19, 222);
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .author-name-overlay p {
    margin: 0;
  }
  
  .author-name-overlay:hover {
    opacity: 1;
  }
