.author-name-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 131, 188, 0.5);
    color: rgb(249, 250, 252);
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .author-name-overlay p {
    margin: 0;
  }
  
  .author-name-overlay:hover {
    opacity: 1;
  }
  .btn-view{
    width: 200px;
    height: 40px;
  }
.total_view{
  margin-right: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}
.burger_list{
  border: 2px solid #DFA756;
  border-radius: 10px;
  background-color: #EFE0B0;
}
.burger_list_2{
  border: 2px solid #DFA756;
  border-radius: 10px;
  background-color: #EFE0B0;
}
.btn_close{
  background-color: #A52A2A;
}
